@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap);
body {
  font-family: "Oswald", sans-serif;
}

.btn-primary {
  background-color: #5a189a !important;
  border: unset !important;
  box-shadow: 2px 5px 10px 3px rgba(51, 51, 51, 0.14);
}

.margin-top-md {
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #3c096c !important;
}

.btn-primary:active {
  background-color: #000 !important;
}

#app-container {
  display: flex;
  flex-direction: row;
  padding-top: 150px;
}

#app-container #pic-display-container {
  width: 400px;
  height: 400px;
  background: #eee;
  box-shadow: 5px 10px 20px 5px rgba(51, 51, 51, 0.14);
  position: relative;
}

#pic-display-container img {
  width: 100%;
  height: 100%;
}

#pic-display-container .inner-border {
  position: absolute;
  width: 350px;
  height: 350px;
  border: 3px solid #fff;
  top: 25px;
  left: 25px;
}

.word-count-container {
  font-size: 12px;
  text-align: right;
}

.process-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.loading {
  width: 100px;
  height: 100px;
}

.loading img {
  width: 100%;
  height: 100%;
}

.process-overlay .text {
  color: #5a189a;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}

.banner-text-container {
  width: 400px;
  height: 400px;
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: #fff;
  font-size: 40px;
}

.banner-text-container span {
  display: block;
  padding: 0px;
  margin: 0px;
  line-height: 1.1;
}

.banner-text-primary {
  color: #333;
}

#pic-display-container .discount-banner {
  position: absolute;
  top: 50px;
  right: 0px;
  height: 50px;
  width: 150px;
  background-color: #fff;
  padding: 5px;
}

.discount-banner .discount-inner-banner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 25px;
  color: #333;
}

.cta-banner {
  position: absolute;
  right: 0px;
  bottom: 100px;
  background-color: #333;
  color: #fff;
  padding: 5px 20px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.insta-handle-banner {
  position: absolute;
  bottom: 50px;
  right: 0px;
  padding: 5px 10px;
  padding-right: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

#app-container #app-controls-container {
  flex: 1;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#app-controls-container .bottom {
  margin-top: auto;
}

.promo-options-display,
.discount-options-display {
  display: none;
}

.btn {
  border-radius: 50px !important;
}

input {
  border-radius: 50px !important;
}

.show-element {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 450px) {
  #app-container {
    flex-direction: column;
  }

  #pic-display-container {
    margin-bottom: 40px;
  }

  #app-controls-container {
    background-color: #fff;
  }
}
